<h1>You Must First Login Before Managing Content</h1>
<% form_for :user, :url => login_path do |form| %>
  <p>
    <label>Username</label>
    <%= form.text_field :username %>
  </p>
  <p>
    <label>Password</label>
    <%= form.password_field :password %>
  </p>
  <p class="submission">
    <%= form.submit 'Proceed...' %>
  </p>
<% end %>