<h1>You Must First Login Before Managing Content</h1>
<% form_assistant_for User.new, :url => login_path do |form| %>
  <%= form.text_field :username %>
  <%= form.password_field :password %>
  <p class="submission">
    <%= form.submit 'Proceed...' %>
  </p>
<% end %>