log/*.log
tmp/
tmp/**/*
.DS_Store
db/*.sqlite3
coverage
vendor/plugins/**/.gitignore
vendor/rails/.gitignore
mkmf.log
public/about.html
public/announcements.html
public/home.html
public/index.html
public/menu.html
public/press.html
public/testimonials.html