body, html {
  font-family: helvetica;
  font-size: 16px;
  background: #fbf8f1 url(../images/background.png) repeat-x left top;
}
.wrapper {
  width: 850px;
  margin: auto;
}
#hdr {
  
}
#hdr ul.navigation {
  float: right;
}
#hdr ul.navigation li {
  float: left;
  margin: 20px 0 0 13px;
}
#hdr ul.navigation a:link,
#hdr ul.navigation a:visited {
  font-size: 14px;
  padding: 8px;
  color: #777;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #fff;
}
#hdr ul.navigation li.current a:link,
#hdr ul.navigation li.current a:visited,
#hdr ul.navigation li.current a:hover {
  background: #E5E2DC;
  color: #444;
  text-decoration: none;
}
#hdr ul.navigation a:hover {
  text-decoration: underline;
}
#content {
  background: #fff;
  -moz-box-shadow: 0px 3px 6px #ddd;
  -webkit-box-shadow: 0px 3px 6px #ddd;
  box-shadow: 0px 3px 6px #ddd;
  margin-bottom: 15px;
  padding: 4px;
  position: relative;
}
#content .inner {
  border: 3px double #EFECE5;
  padding: 25px;
}
#content #stamp {
  position: absolute;
  top: 13px;
  right: 0;
  font-size: 18px;
  color: #999;
  text-align: center;
  width: 285px;
}
#sidebar {
  float: right;
  margin-top: -20px;
}
#sidebar .body {
  width: 250px;
  padding: 5px 20px 20px 20px;
  margin-right: -45px;
  background: #eee;
  border: 5px solid #ddd;
  border-right: 1px solid #ddd;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  
  height: 400px;
}
#sidebar .body,
#sidebar .top {
  margin-right: -44px;
}
#sidebar .top {
  height: 11px;
  background: url(../images/sidebar-corner.png) no-repeat right top;
}
#sidebar .polaroid {
  text-align: center;
  background: url(../images/polaroid-bg.png) no-repeat center top;
  margin: 0 -15px;
  height: 284px;
  padding-top: 17px;
}
#sidebar .polaroid p {
  line-height: 170%;
  color: #777;
  font-size: 13px;
}
#ftr {
  background: #F3F0E9;
  padding: 10px 5px;
  line-height: 130%;
}
#ftr p,
#ftr a:link,
#ftr a:visited {
  color: #999;
  font-size: 12px;
}
#ftr a:hover {
  text-decoration: none;
  color: #555;
}
#ftr p {
  padding: 0 10px;
}
#ftr .right {
  text-align: right;
}