body, html {
  font-family: helvetica;
  font-size: 16px;
  background: #fbf8f1 url(../images/background.png) repeat-x left top;
  background: #500505 url(../images/background-red.png) repeat-x left top;
}
.wrapper {
  width: 850px;
  margin: auto;
}
#strip {
  padding: 5px;
  background: #111;
}
#hdr img {
  margin-top: 2px;
}
#hdr ul.navigation {
  float: right;
}
#hdr ul.navigation li {
  float: left;
  margin: 0 0 0 13px;
  padding-top: 30px;
}
#hdr ul.navigation a:link,
#hdr ul.navigation a:visited {
  font-size: 14px;
  padding: 8px;
  color: #777;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #fff;
}
#hdr ul.navigation li.current {
  background: url(../images/triangle.png) no-repeat center -3px;
}
#hdr ul.navigation li.current a:link,
#hdr ul.navigation li.current a:visited,
#hdr ul.navigation li.current a:hover {
  background: #E5E2DC;
  color: #444;
  text-decoration: none;
}
#hdr ul.navigation a:hover {
  text-decoration: underline;
}
#content {
  background: #fff;
  -moz-box-shadow: 0px 3px 6px #bbb;
  -webkit-box-shadow: 0px 3px 6px #bbb;
  box-shadow: 0px 3px 6px #bbb;
  margin-bottom: 15px;
  padding: 5px;
  position: relative;
  
  -moz-box-shadow: 0px 3px 6px #222;
  -webkit-box-shadow: 0px 3px 6px #222;
  box-shadow: 0px 3px 6px #222;
}
#content .inner {
  padding: 25px;
  background: url(../images/main-bg.jpg) repeat-x left top;
}
#content #stamp {
  position: absolute;
  top: 13px;
  right: 0;
  font-size: 16px;
  color: #ddd;
  text-align: center;
  width: 285px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 2px #000;
}
#main {
  float: left;
  width: 515px;
}
h1.title {
  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  font-size: 35px;
  padding-bottom: 27px;
  margin-bottom: 20px;
  color: #f1f1f1;
  text-shadow: 2px 2px 2px #000;
}
h2.sub-title {
  font-size: 18px;
  font-weight: bold;
  color: #222;
  padding-bottom: 8px;
}
div.intro {
  
}
div.intro p {
  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  color: #555;
  font-size: 21px;
}
div.buttons {
  margin: 15px 0;
}
div.buttons a:link,
div.buttons a:visited {
  float: left;
  width: 214px;
  height: 41px;
  padding-top: 19px;
  background: url(../images/button-bg.png) no-repeat center top;
  text-align: center;
  color: #500804;
  font-weight: bold;
  text-shadow: 1px 1px 1px #fff;
  font-size: 18px;
  margin-right: 20px;
}
div.buttons a:hover {
  background-position: center -60px;
  color: #300200;
}
div.divider {
  padding: 20px 0;
  background: url(../images/divider.jpg) no-repeat left center;
  margin-bottom: 10px;
}
#bikenight {
  
}
#bikenight ul.flickr {
  
}
#bikenight ul.flickr li {
  float: left;
  margin: 0;
  width: 88px;
  height: 88px;
  padding: 12px 0 0 12px;
  background: url(../images/photo-bg.png) no-repeat center center;
}
#bikenight ul.flickr li img {
  border: 1px solid #444;
  border-left: 0;
  border-top: 0;
}
#bikenight ul.flickr a:link,
#bikenight ul.flickr a:visited {
  
}
#bikenight ul.flickr a:hover {
  
}
#bikenight p {
  line-height: 130%;
}
#sidebar {
  float: right;
  margin-top: -5px;
}
#sidebar .body {
  width: 250px;
  padding: 5px 20px 20px 20px;
  margin-right: -45px;
  background: #eee;
  border: 5px solid #ddd;
  border-right: 1px solid #ddd;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  
  height: 650px;
}
#sidebar .body,
#sidebar .top {
  margin-right: -42px;
}
#sidebar .top {
  height: 11px;
  background: url(../images/sidebar-corner.png) no-repeat right top;
}
#sidebar .polaroid {
  text-align: center;
  background: url(../images/polaroid-bg.png) no-repeat center top;
  margin: 0 -15px;
  height: 284px;
  padding-top: 17px;
}
#sidebar .polaroid p {
  line-height: 170%;
  color: #777;
  font-size: 13px;
  font-family: helvetica, arial;
}
#sidebar p.contact {
  font-size: 14px;
  font-family: helvetica, arial;
  color: #666;
}
#sidebar h3 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 10px 0 4px 0;
  text-shadow: 1px 1px 1px #fff;
  color: #222;
}
label {
  display: block;
  color: #777;
  letter-spacing: 1px;
  padding-bottom: 5px;
}
form p {
  margin-bottom: 10px;
}
input.text {
  padding: 5px;
  font-size: 16px;
  width: 75%;
}
p.submission {
  border-top: 3px double #ddd;
  padding-top: 5px;
  margin-top: 10px;
}
#ftr {
  background: #F3F0E9;
  padding: 10px 5px;
  line-height: 130%;
  margin-bottom: 10px;
  
  background: #3e0202;
}
#ftr p,
#ftr a:link,
#ftr a:visited {
  color: #999;
  font-size: 12px;
  font-family: helvetica, arial;
  color: #6a3b3b;
}
#ftr a:hover {
  text-decoration: none;
  color: #555;
  
  color: #794444;
}
#ftr p {
  padding: 0 10px;
  margin: 0;
}
#ftr .right {
  text-align: right;
}