p.notice,
p.warning,
p.error {
  font-size: 18px;
  margin: 5px auto;
  width: 850px;
  padding: 10px;
  line-height: 155%;
  background-color: #222;
  border: 1px solid #333;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: helvetica, arial;
}

p.notice span,
p.warning span,
p.error span {
  float: left;
  width: 42px;
  height: 32px;
}

p.notice {
  /*background: url(../images/flash-notice-bg.jpg) repeat-x left top;*/
  color: #41612f; 
  color: #9FC379;
}
p.notice span {
  background: url(../images/flash-check.png) no-repeat left top;
}

p.warning {
  /*background: url(../images/flash-warning-bg.jpg) repeat-x left -10px;*/
  color: #a26a1a;
  color: #ffffcc;
}
p.warning span {
  background: url(../images/flash-warning.png) no-repeat left top;
}

p.error {
  /*background: url(../images/flash-error-bg.jpg) repeat-x left -10px;*/
  color: #af0100;
}
p.error span {
  background: url(../images/flash-error.png) no-repeat left top;
}

p span.blocked {
  height: auto !important;
  background: none !important;
  width: auto !important;
  float: none !important;
  display: block;
  clear: both;
}