<%= form.text_field :title %>
<label>By who?</label>
<% if @announcement.new_record? %>
  <p><%= form.lookup_for :user_id, :selected => current_user.id %></p>
<% else %>
  <p><%= form.lookup_for :user_id %></p>
<% end %>
<%= form.text_area :body %>