<%= title "What People Are Saying" %>

<% unless @testimonials.blank? %>
  
<% else %>
  <p>
    Sorry, we haven't had a chance to fill in all the great things people are saying
    about us. Please check back soon!
  </p>
<% end %>